<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Guitars</title>
</head>

<body>
  <h1>Guitar Collection</h1>
  <br> {{{body}}}
  <a class="button" href="/form">Add a Guitar</a>
  <br>
</body>

</html>
